<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shopping Cart</h4>
          <div class="breadcrumb__links">
            <a routerLink="/home">Home</a>
            <a routerLink="/shop">Shop</a>
            <span>Shopping Cart</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="shopping__cart__table">
          <table id="tableList">
            <thead>
            <tr>
              <th style="padding-right: 15px" class="cursor" title="Check all" (click)="addAll()"><i class="fa-regular fa-square-check"></i></th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let item of cartList; let i = index">
              <tr>
                <td>
                  <input  (click)="addToPayment(item.orderId)"  [checked]="orderListId.includes(item.orderId)" style="width: 14px; height: 14px" type="checkbox">
                </td>
                <td class="product__cart__item">
                  <a href="#">
                    <div class="product__cart__item__pic">
                      <img width="90px" height="90px" src="{{item.imageUrl}}" alt="">
                    </div>
                    <div class="product__cart__item__text">
                      <h6>{{item.productName}}</h6>
                      <h5 class="product-price">{{item.productPrice|currency:"USD"}}</h5>
                      <div class="dot" [style.background]="item.productColor"></div>
                    </div>
                  </a>
                </td>
                <td class="quantity__item">
                  <div class="quantity">
                    <div class="pro-qty-2">
                      <span><button class="btn"><i class="fa-solid fa-angle-left qtybtn"
                                                   (click)="decrease(i, item.productPrice)"></i></button></span>
                      <input class="product-quantity" min="1" max="100" id="quantity{{i}}" style="-webkit-appearance: none" #quantity type="number" value="{{item.orderQuantity}}" (change)="updateMoney(i,item.productPrice,quantity.value)">
                      <input type="submit" hidden/>
                      <span><button class="btn"><i class="fa-solid fa-angle-right qtybtn"
                                                   (click)="increase(i, item.productPrice)"></i></button></span>
                    </div>
                  </div>
                </td>
                <td class="cart__price"><span>&#36;</span><span
                  id="total{{i}}">{{(item.productPrice * item.orderQuantity).toFixed(2)}}</span></td>
                <td class="cart__close"><i class="fa fa-close"></i></td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="continue__btn">
              <a routerLink="/shop">Continue Shopping</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="continue__btn update__btn">
              <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart__discount">
          <h6>Discount codes</h6>
          <form action="#">
            <input type="text" placeholder="Coupon code">
            <button type="submit">Apply</button>
          </form>
        </div>
        <div class="cart__total">
          <h6>Cart total</h6>
          <ul>
            <li>Total <span>{{sum|currency:"USD"}}</span></li>
          </ul>
          <a class="primary-btn" (click)="createPayment()">Proceed to checkout</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->

