<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Check Out</h4>
          <div class="breadcrumb__links">
            <a routerLink="/home">Home</a>
            <a routerLink="/shop">Shop</a>
            <span>Check Out</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
  <div class="container">
    <div class="checkout__form">
      <form [formGroup]="shippingInformation" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <h6 class="checkout__title">Shipping Information</h6>
            <div class="checkout__input__checkbox">
              <label for="selection">
                Use your default information for shipping
                <input type="checkbox" id="selection" [checked]="default" (click)="selectShipping()">
                <span class="checkmark"></span>
              </label>
            </div>
              <div class="default" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Shipping Receiver<span>*</span></p>
                      <input formControlName="shippingReceiver" placeholder="Receiver name" type="text" id="receiver-name" class="checkout_input"  [readOnly]="default==true"
                             [ngClass]="(shippingInformation.controls['shippingReceiver'].touched)&&shippingInformation.controls['shippingReceiver'].value== null? shippingInformation.controls['shippingReceiver'].invalid?'is-invalid':'is-valid':''">
                      <div class="invalid-feedback">
                        <div *ngIf="shippingInformation.controls['shippingReceiver'].hasError('required') && (shippingInformation.controls['shippingReceiver'].touched)">
                          Required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="checkout__input">
                  <p>Address<span>*</span></p>
                  <input formControlName="shippingAddress" id="shippingAddress" placeholder="Detail Address"  class="checkout_input" type="text" [readOnly]="default==true"
                         [ngClass]="(shippingInformation.controls['shippingAddress'].touched)&&shippingInformation.controls['receiverPhone'].value== null? shippingInformation.controls['shippingAddress'].invalid?'is-invalid':'is-valid':''">
                  <div class="invalid-feedback">
                    <div *ngIf="shippingInformation.controls['shippingAddress'].hasError('required') && (shippingInformation.controls['shippingAddress'].touched)">
                      Required.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="checkout__input">
                      <p>Receiver Phone<span>*</span></p>
                      <input formControlName="receiverPhone" id="receiverPhone" placeholder="Phone number"  class="checkout_input" type="text" [readOnly]="default==true"
                      [ngClass]="(shippingInformation.controls['receiverPhone'].touched)&&shippingInformation.controls['receiverPhone'].value== null? shippingInformation.controls['receiverPhone'].invalid?'is-invalid':'is-valid':''">
                      <div class="invalid-feedback">
                        <div *ngIf="shippingInformation.controls['receiverPhone'].hasError('required') && (shippingInformation.controls['receiverPhone'].touched)">
                          Required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order_note">
                <div class="checkout__input__checkbox">
                  <label for="diff-acc">
                    Note about your order, e.g, special note for delivery
                    <input type="checkbox" id="diff-acc" [checked]="note" (click)="orderNote()">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="checkout__input"  [hidden]="note==false">
                  <p>Order notes</p>
                  <input type="text"
                         placeholder="Notes about your order, e.g. special notes for delivery.">
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4 class="order__title">Your order</h4>
              <div class="checkout__order__products">Product <span>Total</span></div>
              <ul class="checkout__total__products" *ngFor="let item of orderDetailDtoList, let i = index">
                <li>{{i+1}} {{item.productName}} <span>{{(item.productPrice*item.orderQuantity)|currency:"USD"}}</span></li>
              </ul>
              <ul class="checkout__total__all">
                <li>Subtotal <span>{{(payment.totalBill - payment.shippingFee)|currency:"USD"}}</span></li>
                <li>Shipping fee <span>{{payment.shippingFee|currency:"USD"}}</span></li>
                <li>Total <span>{{payment.totalBill|currency:"USD"}}</span></li>
              </ul>
              <div class="checkout__input__checkbox">
                <label for="paypal">
                  Paypal
                  <input type="checkbox" checked disabled id="paypal">
                  <span class="checkmark"></span>
                </label>
              </div>
              <button  type="submit" [disabled]="!shippingInformation.valid" class="site-btn">PLACE ORDER</button>
              <button  routerLink="/cart" type="button" class="site-btn">BACK TO CART</button>
              <div class="row">
                <div class="col-lg-12" id="paypalBtn">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Checkout Section End -->
