<!-- Hero Section Begin -->
<section>
  <div class="hero__slider owl-carousel">
    <div class="hero__items set-bg" [style.background-image]="'url(/assets/img/hero/hero-1.jpg)'">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6 class="text-secondary">Spring Collection</h6>
              <h2>Spring - Summer Collections 2023</h2>
              <p>Selected yarn with vibrant color for this holiday season!</p>
              <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__items set-bg" [style.background-image]="'url(assets/img/hero/hero-2.jpg)'">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="hero__text">
              <h6 class="text-warning">Winter Collection</h6>
              <h2 class="text-light">Fall - Winter Collections 2030</h2>
              <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                commitment to exceptional quality.</p>
              <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
              <div class="hero__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img height="440px" width="440px" src="assets/img/banner/banner-1.jpg" alt="">
          </div>
          <div class="banner__item__text">
            <h2>Yarn</h2>
            <a href="#">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img height="400px" width="400px"  src="assets/img/banner/banner-3.jpg" alt="">
          </div>
          <div class="banner__item__text">
            <h2>Accessories</h2>
            <a href="#">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img height="400px" width="400px"  src="assets/img/banner/banner-2.jpg" alt="">
          </div>
          <div class="banner__item__text">
            <h2>Needles</h2>
            <a href="#">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->


<!-- Instagram Section Begin -->
<section class="instagram spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="instagram__pic">
          <div class="instagram__pic__item set-bg" [style.background-image]="'url(assets/img/instagram/instagram-1.jpg)'"></div>
          <div class="instagram__pic__item set-bg" [style.background-image]="'url(assets/img/instagram/instagram-2.jpg)'"></div>
          <div class="instagram__pic__item set-bg" [style.background-image]="'url(assets/img/instagram/instagram-3.jpg)'"></div>
          <div class="instagram__pic__item set-bg" [style.background-image]="'url(assets/img/instagram/instagram-4.jpg)'"></div>
          <div class="instagram__pic__item set-bg" [style.background-image]="'url(assets/img/instagram/instagram-5.jpg)'"></div>
          <div class="instagram__pic__item set-bg" [style.background-image]="'url(assets/img/instagram/instagram-6.jpg)'"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="instagram__text">
          <h2>Instagram</h2>
          <p>From our yarn to your handmade products.<br> Explore some handmade ideas with us on Instagram.</p>
          <h3>#petiteknit</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Latest News</span>
          <h2>Fashion New Trends</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" [style.background-image]="'url(assets/img/blog/blog-1.jpg)'"></div>
          <div class="blog__item__text">
            <span><img src="assets/img/icon/calendar.png" alt=""> 16 July 2022</span>
            <h5>Knit-wears Are Now A New Fashion Trend.</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" [style.background-image]="'url(assets/img/blog/blog-2.jpg)'">
          </div>
          <div class="blog__item__text">
            <span><img src="assets/img/icon/calendar.png" alt=""> 25 October 2022</span>
            <h5>10 Knitwear Styles For Your Autumn/ Winter</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic set-bg" [style.background-image]="'url(assets/img/blog/blog-3.jpg)'" ></div>
          <div class="blog__item__text">
            <span><img src="assets/img/icon/calendar.png" alt=""> 24 November 2022</span>
            <h5>The best men's knitwear for elevated winter layering</h5>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Blog Section End -->
